*{
	box-sizing: border-box;
}
.lateral {
	background-color: #56B3AB;
	bottom: 0;
	left: 0;
	padding: 1em;
	position: fixed;	
	top: 0;
	width: 350px;
	/*position: fixed da posicion fija al area
	padding: da el contorno margen izquierdo pero si hacemos esto 
			se ensancha para que no ocurra viene la propiedad box-sizing*/
}

/* Perfil */
.perfil__circulo {
	border-radius: 50px;	
	height: 50px;
	margin: 0; 
	overflow:  hidden;	
	width: 50px;
	/*overflow todo lo que escape de dimecion de 50 x 50 se oculte 
	borde-radios marca el margen de la imagen como circular*/
}

.perfil__foto{
	width: 50px;
}

.perfil__nombres{
	color: #fff;
	font-size: 20px;
	margin-left: .5em; 
	width: 250px;
}

.perfil__nombres, .perfil__circulo {
	display: inline-block;
	vertical-align: middle;
}

/* Informacion */
.informacion {
	color: #0F6A62;
	bottom: 1em;
	position: absolute;
	/* 	bottom posisciona al final la informacion
		position con referencia a su padre  */
}

.informacion__titulo{
	font-size: 18px;
}

.habilidades{
	padding: 0;
}

.habilidad{
	background-color: #0F6A62;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	padding: .5em;
	text-transform: uppercase;
}

#preguntas legend{
	padding: 0;
}

#preguntas ul{
	margin: 0;
	padding: 0;
	list-style: none;
}